<div class="mt-20 mb-20 xl:mb-36 xl:mt-44 enviro-size">
    <p class="uppercase text-[2rem] md:text-[2.1875rem] xl:text-[80px] leading-[0.95] md:leading-[0.85] font-medium max-w-[1000px] tracking-tighter">
        {{ section.settings.text }}
    </p>
</div>

{% schema %}
{
  "name": "Commitment Section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Large Quote",
      "default": "Placehold commitment"
    }
  ]
}
{% endschema %}
